.footer{
    position: fixed;
    bottom: 0px;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    background-color: aqua;
    color: aliceblue;
    text-align: center;
    width: 100%;
}